.processSection {
    width: 100%;
    height: 700px;
    margin-top: 150px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.processSection .group31 {
    width: 100%;
    height: 700px;
    display: flex;
    flex-direction: column;
}
.group31 h1 {
    font-size: 2.8rem;  
}
.group31 .group31Sec1 {
    width: 100%;
    height:540px;
    margin-top: 50px;
    display: flex;
    flex-direction: row;
}
.group31Sec1 .group31Part1 {
    width: 130px;
    height: 540px;
}
.group31 .group31Part2 {
    width: 100%;
    height: 540px;
}
.group31Part1 .group25,.group26,.group27 {
    width: 62px;
    height: 62px;
    border-radius: 9999px;
    margin-left: 20px;
}
.group31Part1 .group25 {
    background: var(--primary-color)url('../assets/step1Icon.png') no-repeat 50% 50%;
}
.group31Part1 .group26 {
    background: var(--primary-color)url('../assets/step2Icon.png') no-repeat 50% 50%;
}
.group31Part1 .group27 {
    background: var(--primary-color)url('../assets/step3Icon.png') no-repeat 50% 50%;
}
.group31Part1 .line6 {
    width: 1px;
    height: 100px;
    border: 1px solid var(--primary-color);
    margin-left: 50%;
    margin-top: 10px;
    margin-bottom: 20px;
}
.group31Part2 .group28, .group29,.group30 {
    width: 100%;
    height: 130px;
}
.group31Part2 .group28 {
    margin-top: 20px;
}
.group31Part2 .group29,.group30 {
    margin-top: 60px;
}
.group28 .embarkOn, .group29 .embarkOn, .group30 .embarkOn {
    color: var(--secondary-color);
    margin-top: 20px;
}
.group28 .embarkOn p, .group29 .embarkOn p, .group30 .embarkOn p {
    margin-bottom: 5px;
}
.processSection .maskGroup1Img {
    width: 100%;
    height: 670px;
    background: url('../assets/maskGroup1.png') no-repeat 100% 100%;
}
.group31 .maskGroup1Img {
    display: none;
}
@media(max-width: 768px) {
    .processSection {
        margin-top: 500px;
        display: flex;
        flex-direction: column;
        height: 1320px;
    }
    .processSection .maskGroup1Img {
        display: none;
    }
    .group31 .maskGroup1Img {
        display: block;
        width: 85%;
        height: 548px;
        background: url('../assets/maskGroup1.png') no-repeat;
        background-size: cover;
        position: absolute;
        top: 2540px;
    }
    .group31 h1 {
       font-size: 2.1rem;
    }
    .group31 .group31Sec1 {
        margin-top: 620px;
    }
}