.testamonials {
    width: 100%;
    height: 700px;
    margin-top: 100px;
}
.testamonials .cat1 {
    display: flex;
    flex-direction: row;
}
.cat1 .maskGroup2Img {
    width: 600px;
    height: 600px;
}
.cat1 h1 {
    font-size: 2.8rem;
    margin-left: 5%;
}
.cat1 h1 p {
    margin-bottom: 5px;
}
.testamonials .catTestamonials {
    width: 84%;
    height: 550px;
    position: relative;
    top: -430px;
    left: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.catTestamonials .testamonial1, .testamonial2 {
    width: 100%;
    height: 520px;
    border-radius: 8px;
    padding-top: 80px;
    padding-left: 50px;
    padding-right: 50px;
    background-color: var(--primary-color);
}
.catTestamonials .testamonial1 {
    margin-right: 50px;
}
.catTestamonials .doubleQuotesImg {
    display: flex;
    flex-direction: row;
}
.catTestamonials .workingWith {
    margin-top: 80px;
    color: var(--secondary-color);
}
.catTestamonials .workingWith p {
    margin-bottom: 5px;
}
.catTestamonials .testamonialsPerson{
    width: 100%;
    height: 75px; 
    margin-top: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.testamonialsPerson .person1Face, .person2Face {
    width: 72px;
    height: 72px;
}
.testamonialsPerson .person1Face {
    background: url('../assets/face1.png') no-repeat 100% 100%;
}
.testamonialsPerson .person2Face {
    background: url('../assets/face2.png') no-repeat 100% 100%;
}
.testamonialsPerson .nameNCountry {
    width: 100%;
    height: 75px;
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    padding-left: 20px;
}
.nameNCountry .country {
    margin-top: 5px;
    color: var(--secondary-color);
}
.testamonials .leftNRightArrow {
    display: flex;
    flex-direction: row;
    width: 13%;
    height: 100px;
    position: relative;
    top: -550px;
    justify-content: space-between;
}
.leftNRightArrow .leftArrowBtn, .rightArrowBtn {
    width: 72px;
    height: 72px;
    border-radius: 8px;
    position: relative;
    top: 20px;
}
.leftNRightArrow .leftArrowBtn {
    background: var(--primary-color) url('../assets/leftArrow.png') no-repeat 50% 50%;
}
.leftNRightArrow .leftArrowBtn:hover {
    background-color: var(--third-color);
}
.leftNRightArrow .rightArrowBtn {
    background: var(--primary-color) url('../assets/rightArrow.png') no-repeat 50% 50%;
}
.leftNRightArrow .rightArrowBtn:hover {
    background-color: var(--third-color);
    cursor: pointer;
}
@media (max-width: 768px) {
    .testamonials {
        margin-top: 60px;
        height: 1350px;
    }
    .testamonials .cat1 {
        flex-direction: column;
    }
    .cat1 h1 {
        font-size: 2.1rem;
    }
    .cat1 .maskGroup2Img {
        display: none;
    }
    .testamonials .catTestamonials {
        width: 100%;
        height: 1100px;
        top: 0;
        left: 0;
        flex-direction: column;
        margin-top: 50px;
    }
    .testamonials .leftNRightArrow {
        top: 20px;
        width: 180px;
        left: 80px;
    }
}